@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*{
  font-family: 'Open Sans', sans-serif;
}
html,body{
  background: #171717;
  color: #ffff;
}

.btn-borde {
  padding: .375rem .75rem;
  border: 1px solid #F8CB2E;
  border-radius: .25rem;
  color: #F8CB2E;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out;
  background-color: #171717;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #171717;
  background-color: #F8CB2E;
}

.modal-body{
  color: #7F8487
}

.modal-content{
  background: #413F42; 
  color: #7F8487
}



h3{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}



li,ul{
  list-style:none;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}